/*start global rules*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "cairo" sans-serif;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
  }
  .pop-button{
    margin-top: 40vh;
    margin-right: 49vw;
    padding: 10px;
    width: 80px;
    background-color: #fe1;
    border: none;
    cursor: pointer;
  }
  /* form styling  */
  .form-overlay{
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1000;
    background-color: rgba(0, 0, 0.5, 0.49);
   
  }
  .form-overlay.active{
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .form {
    height: 0;
    width: 40%;
    margin: auto;
    margin-top: 3%;
    background-color: #fff;
    overflow: hidden;
    transform: perspective(100px) translate3d(0, -120px,-40px);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    
}
  .sliding-form {
    transform: translateY(-120px);
  }
.form.active {
    height: 90vh;
    width: 40%;
    opacity: 1;
    transform: perspective(100px) translate3d(0,0,0);
    transition: transform 0.4s ease, opacity 0.4s ease;
}
  .form-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #1b2839;
    color: #fff;
}
.form-header h2{
  position: relative;
}
.form-header h2::before{
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 40%;
  height: 2px;
  background-color: #007bff;
}
  .form-header button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .form-header button span {
    font-size: 15px;
    color: #fff;
  }
  .form-wrapper{
    height: 78vh;
    padding-bottom: 10px;
    overflow-y: scroll;
  }
.form form {
    padding: 20px;
}
.form .form-wrapper .forms-container {
  position: relative;
  overflow: hidden;
  height: 78vh
  }
.form form  input{ 
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    outline: none;
  }
  .form form  input:last-of-type{
    margin-bottom: 0;
  }
  .form-details{
    
    padding: 20px;
  }
.form-product-name{
    background-color: #e9ecef;
    padding: 10px;
    border: 1px solid #e1e1e1;
}
.form-virtual{
     padding: 10px;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
    width: 40%;
}
.form-product-quantity {
    padding: 10px;
}

.form-product-quantity span{
       display: inline-block;
    width: 30px;
    height: 30px;
    color: #888;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #e1e1e1;
    line-height: 30px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.form-product-quantity span:nth-of-type(2){
    color: #000;
    font-size: 16px;
}

button.sub-form{
  display: none;
  
}
 button.form-btn{
    position: relative;
    margin-right: 45%;
    background-color: #007bff;
    border: none;
    padding: 10px;
    width:63px ;
    height: 36px;
    color: #fff;
    font-size: 18px;
    z-index: 10;
    cursor: pointer;
}
button.form-btn::before,
button.form-btn::after{
    content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    margin-right: 50%;
    background-color: #007bff;
    border-radius: 50%;
    top: 0;
    z-index: 1;
}
button.form-btn::before{
    left: -30%;
}
button.form-btn::after{
    right: -80%;
}
.form-footer{
    border-top: 1px solid #e1e1e1;
}

.form-footer p{
    margin: 10px;
    color: #666;
    font-style: 18px;
}
.form-footer p:last-of-type{
    margin: 20px 10px;
}

.payment-form{
  
  z-index: 100;
  position: absolute;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  top: 100%;
  left: 0;
  transition: 0.3s ease;
  height: 78vh;
}
.payment-form .images{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.payment-form .image{
  width: auto;
    max-width: 150px;
    height: auto;
    max-height: 80px;

}
.payment-form .image img{
  width: 100%;
  height: 100%;
}
.payment-form  button {
  margin-top: 30px;
  width: 85px;
}
.payment-form  button:before{
  left: -23%;
  z-index: -1;
}
.payment-form  button:after{
  right: -73%;
  z-index: -1;
}
  
/* start responsive */

@media (max-width:991px) {
  .form.active{
        width: 60%;
    }
    .form .form-wrapper{
      height: 70vh;
    }
  .form .form-wrapper .forms-container {
    height: auto;
  }
  .form .form-wrapper .payment-form{
    height: 123vh;
  }
}
@media (max-width :767px) {
  .form .form-wrapper .forms-container {
    height: 70vh;
  }
    .form.active{
        width: 90%;
    }
    
.form form  input{
    width: 85%;
    margin: 20px;
}

.form-product-quantity  button{
    margin-top: 20px;
}

}